body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f9fafb;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 98%;
    max-width: 100%;
    height: 83vh;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 60px; 
}

.header-image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #4a90e2;
    font-size: 24px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    width: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

button:hover {
    background-color: #45a049;
}

.navigation-bar {
    width: 100%;
    background-color: #4caf50;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.chart-container {
    max-width: 600px;
    margin: 40px auto; /* Adjust margin to move the graph down */
}

#chatroom {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#messages {
    flex: 1;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    max-height: 400px;
}

#message {
    flex: 0;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjusting for padding and border */
}
